body { font: 15px sans-serif; margin: 10px; }
p { margin: 0; }
div { position: absolute; }
button { margin-left: 1em; }
select { vertical-align: middle; }
a { text-decoration: none; }
.field { width: 113px; height: 51px; border: 1px solid silver; border-left: 10px solid silver; padding: 2px; }
.owned { cursor: pointer; }
.owner0 { border-left-color: navy; }
.owner1 { border-left-color: orange; }
.owner2 { border-left-color: lime; }
.owner3 { border-left-color: fuchsia; }
.player { transition: top 1s, left 1s; }
.player0 { color: white; background: navy; }
.player1 { background: orange; }
.player2 { background: lime; }
.player3 { background: fuchsia; }
.price { width: 60px; }
.upgrades { text-align: right; }
.money { text-align: right; }
.buttons { top: 250px; width: 1408px; text-align: center; }
#score { position: absolute; top: 100px; left: 150px; }
#score td { padding: 0 10px; height: 22px; }
#dice { top: 300px; width: 208px; padding: 0 600px; display: flex; text-align: center; font-size: 48px; }
#dice span { display: block; flex: auto; }
#message { top: 370px; margin-left: 138px; width: 1132px; height: 280px; overflow-y: auto; text-align: center; }
