body { color: black; background-color: white; }
table { border-collapse: collapse; }
td, th { border: 1px solid gray; }
th:nth-child(2) { text-align: left; }
th:last-child { text-align: right; }
td { min-width: 30px; text-align: right; }
a { cursor: pointer; }
#dices { font-size: 30px; padding: 50px; }
.hidden { display: none; }
.unpinned { color: silver; }
.playing td { cursor: pointer; background-color: silver; }
.playing td.played { cursor: default; background-color: white; }
.playing td.picked { background-color: yellow; }
